#test {
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  width: 50%;
  height: auto;
  padding: 30px;
  text-align: center;
  margin-top: 50px;
}

.myLabel {
  margin: 10px;
  font-weight: 600;
  font-size: 18px;
}

#todo1 {
  margin: 10px;
  font-weight: 500;
  font-size: 16px;
}

.check_Btn {
  width: 20%;
  background-color: rgb(53, 53, 50);
  color: rgb(250, 248, 248);
  margin: 10px;
  padding: 3px;
}

.check_Btn:hover {
  background-color: rgb(105, 105, 100);
  color: rgb(250, 248, 248);
}

.strike_through {
  text-decoration: line-through;
}

.uncheck_Btn {
  width: 20%;
  background-color: rgb(53, 53, 50);
  color: rgb(250, 248, 248);
  margin: 10px;
  padding: 3px;
}
.uncheck_Btn:hover {
  background-color: rgb(105, 105, 100);
  color: rgb(250, 248, 248);
}
.edit_Btn {
  width: 20%;
  background-color: rgb(53, 53, 50);
  color: rgb(250, 248, 248);
  margin: 10px;
  padding: 3px;
}

.edit_Btn:hover {
  background-color: rgb(105, 105, 100);
  color: rgb(250, 248, 248);
}

.edit_Input {
  margin-left: 15px;
  padding: 3px;
}
.editOk {
  background-color: rgb(53, 53, 50);
  color: rgb(250, 248, 248);
  margin-left: 5px;
  padding: 3px;
}
.editOk:hover {
  background-color: rgb(105, 105, 100);
  color: rgb(250, 248, 248);
}
.addBtn {
  width: 20%;
  background-color: rgb(53, 53, 50);
  color: rgb(250, 248, 248);
  margin: 10px;
  padding: 3px;
}

.addBtn:hover {
  background-color: rgb(105, 105, 100);
  color: rgb(250, 248, 248);
}

.para1 {
  color: rgb(228, 27, 27);
  padding: 3px;
  margin: 5px;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
}

.newDiv {
  color: black;
  box-shadow: rgba(2, 20, 20, 0.35) 0px 5px 15px;
  margin: auto;
  width: 70%;
  height: auto;
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 700;
}

.newDiv:hover {
  transform: scale(1.05);
}

.closeBtn {
  background-color: rgb(17, 16, 16);
  color: rgb(250, 244, 244);
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 2px;
  width: auto;
  height: auto;
  padding: 3px;
  text-align: right;
}

.closeBtn:hover {
  background-color: rgb(161, 161, 158);
  color: black;
}
